@media screen and (max-width: 1024px) {
    h1,
    .h1 {
        font-size: 32px;
    }

    h2,
    .h2 {
        font-size: 36px;
    }

    h3,
    .h3 {
        font-size: 24px;
    }

    h4,
    .h4 {
        font-size: 22px;
    }

    h5,
    .h5 {
        font-size: 16px;
    }

    h6,
    .h6 {
        font-size: 15px;
    }

    .has-bg {
        @include default-bg;
    }

    .container {
        padding-right: $container-mobile-padding;
        padding-left: $container-mobile-padding;
    }

    .container-xxl {
        padding: 0;
    }
    
    .header {
        padding: 18px 0 9px;
        
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-color: $bg-primary;
            height: 72px;
            z-index: 2;
        }

        &-logo-link {
            z-index: 2;
        }
    
        &-logo-img {
            max-width: 126px;
        }
    
        &-nav {
            flex-direction: column;
            background-color: $bg-secondary;
            position: absolute;
            z-index: 1;
            top: -508px;
            left: 0;
            padding: 41px 0 60px 0;
            transition: 0.7s;
            box-shadow: 14px 22px 40px 0 #11132166;
            
            &.show {
                top: 72px;
            }          
    
            &__list {
                flex-direction: column;
                align-items: center;
                margin-bottom: 38px;

                .header-list-link {
                    font-size: 24px;
                    line-height: 184%;
                    padding: 0;
                }
            }
    
            .btn-primary {
                max-width: 295px;
                width: 100%;
                padding: 22px;
                justify-content: center;
                margin: 0 auto;
                font-size: 15px;
            }
        }
        
        .hamburger {
            z-index: 2;
        }
    }

    section.first-screen {
        margin-bottom: 55px;
    }

    .first-screen {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 26px 40px 12px;
            position: relative;
            z-index: 1;
        }

        .banner-item {
            border-radius: 0;
        }

        .banner-title {
            max-width: 260px;
        }

        .banner-subtitle {
            max-width: 260px;
            margin-bottom: 20px;
        }

        .slick-track::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: #04091199;
        }
    }




    .calculation-form {
        min-width: initial;
        padding: 52px 27px 34px;
        margin: 0 auto;

        .row {
            flex-direction: column;
        }

        & .col.controled-col {
            padding-top: 7px;
            margin-bottom: 4px;
        }

        .input-wrapper.file-wrapper {
            padding-top: 32px;
        }

        .mobile-center {
            text-align: center;
        }
    }

    .template-title.col-lg-7 h2:after,
    .calculation-decoration {
        display: none;
    }

    .template-title {
        h2 {
            font-size: 24px;
            text-align: center;
        }
    }
    
    h3 {
        font-size: 16px;
    }

    .calculation {

        /*type 2*/
        .template-title {

            &.col-lg-7 {
                margin-bottom: 56px;

                &:after {
                    display: inline-block;
                }

                h2 {
                    &:after {
                        display: none;
                    }
                }
            }
        }

        .btn-lg {
            padding: 19.5px 59px 19.5px 32px;
        
            & .icon {
                margin: 0 -42px 0 75px;
            }
        }
    }


    .slider-template {
        max-width: 365px;

        .slick-list {
            margin-bottom: 32px;
        }

        .template-card {
            padding: 0 23px 27px;

            .img-box {
                margin: 0 -23px 27px;

                img {
                    height: 213px;
                }
            }
        }

        .template-card-row {
            gap: 13px;

            .btn {
                padding: 13px 5px;
            }
        }

    }

    .services {
        .template-card {
            padding: 0 23px 33px 30px;
            .img-box {
                img {
                    height: 100%;
                    object-fit: initial;
                }
            }
            &__description {
                margin-bottom: 6px;
                line-height: 1.15;
            }
        }
    }

    .company {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 20px;
        }
        
        .company-row {
            flex-direction: column;
        }
        
        .template-title {
            text-align: center;
            padding-bottom: 18px;
            margin-bottom: 26px;
            font-size: 16px;
            &::after {
                left: 50%;
                transform: translate(-50%, 0);
            }
        }

        .company-description {
            text-align: justify;
            h6 {
                font-size: 16px;
                line-height: 1.5;
            }
        }

        

        .company-decoration {
            margin-bottom: 220px;
            img {
                max-width: 245px;
                width: 67vw;
                top: 32px;
                left: 49px;
            }
            &::after {
                max-width: 280px;
                max-height: 280px;
                min-height: 277px;
                top: 31px;
                left: 35px;
            }
        }
    }
}   
