.company {
    .container {
        position: relative;
    }

    .template-title {
        text-align: left;

        &::after {
            left: auto;
            transform: translate(0);
        }
    }

    .company-row {
        display: flex;
        align-items: flex-start;
    }

    .company-description {

        max-width: 555px;
        width: 100%;
        h6 {
            font-weight: 400;
            line-height: 1.7;
            &:first-child {
                margin-bottom: 40px;
            }
        }
    }

    .company-decoration {
        position: absolute;
        right: 0;
        top: 0;
        max-width: 488px;
        max-height: 581px;

    }
}