.example {
    background-color: aquamarine;
    transition: 0.3s;

    &:hover {
        background-color: #000;
    }
    
    &-title{
        background-color: #f00;
        &:hover {
            background-color: #000;
            color: greenyellow;

        }
    }

    &-subtitle {
        color: yellowgreen;
    }
}