<section class="company">
    <div class="container">
        <div class="template-title col-lg-6">
            <h2>о компании</h2>
        </div>
        <div class="company-row">
            <div class="company-description col-lg-6">
                <h6>Компания Азия Карго - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украину. Для вашего удобства есть тарифы на лёгкий и тяжелый куб. Мы работаем на рынке более 4 лет, а руководители компании занимаются логистикой уже более 11 лет.</h6>
                <h6>Мы стремимся предоставить лучшие условия доставки и лучший сервис своим клиентам. Выбирая нас - вы выбираете качественную доставку оптимальную по цене и времени! Убедитесь в этом сами!</h6>
            </div>
            <div class="company-decoration col-lg-6">
                <img src="assets/img/about-decoration.png" alt="decoration" class="img-fluid">    
            </div>
        </div>
    </div>
</section>