<section class="services has-bg">
    <div class="container">
        <div class="template-title">
            <h2>Услуги</h2>
        </div>
        <div class="slider-template">
            <div class="template-card">
                <h4 class="template-card-title">Выкуп товара</h4>
                <div class="template-card-options">
                    <span>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </span>
                </div>
                <div class="template-card-row">
                    <button type="button" class="btn btn-secondary">Подробнее</button>
                </div>
            </div>
            <div class="template-card">
                <h4 class="template-card-title">Страховка груза</h4>
                <div class="template-card-options">
                    <span>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </span>
                </div>
                <div class="template-card-row">
                    <button type="button" class="btn btn-secondary">Подробнее</button>
                </div>
            </div>
            <div class="template-card">
                <h4 class="template-card-title">Аренда склада</h4>
                <div class="template-card-options">
                    <span>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </span>
                </div>
                <div class="template-card-row">
                    <button type="button" class="btn btn-secondary">Подробнее</button>
                </div>
            </div>
            <div class="template-card">
                <h4 class="template-card-title">Перевод денежных средств</h4>
                <div class="template-card-options">
                    <span>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </span>
                </div>
                <div class="template-card-row">
                    <button type="button" class="btn btn-secondary">Подробнее</button>
                </div>
            </div>
        </div>
    </div>
</section>